.App {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #f8bdf8;
}

.loginME{
  padding-bottom: 85px;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  font-family: Futura, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.landImage {
  z-index:-1;
  max-width: 30%;
}

.body {
  margin: 0;
  padding: 0;
  justify-content: center;
  
}

.pagebody {
  margin: 10px;
}

.container {
  float: center;
  justify-content: center;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
}

.page404 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  place-items: center;
  justify-content: center;
}

.item {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid lightgray;
  font-family: Futura, Avenir, Helvetica, sans-serif;
  margin: 30px;
  max-width: 100%;
  max-height: 100%;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.item:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}
.item .name {
  flex: 20%;
  border-bottom: 1px solid lightgray;
  background-color: #50194d;
  display: grid;
  place-content: center;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.item .body {
  flex: 60%;
  display: grid;
  place-content: center;
  vertical-align: middle;
}

.item .lando_image{
  left: 42px;
  max-width: 350px;
  max-height: 150px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.item .footer {
  flex: 20%;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: #50194d;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /*  so that price goes right and country left */
  justify-content: space-between;
}

.footer .username {
  flex: 50%;
}
.footer .buttons {
  flex: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.likeBttn {
  color: rgba(250, 250, 250, 0.8);
}
.unlikeBttn {
  color: white;
}

.buttons label {
  margin-right: 20px;
  margin-left: 10px;
}

/* CREATE LISTING CSS */

.createItemPage {
  font-family: Futura, Avenir, Helvetica, sans-serif;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 2px solid #9208d8;
  border-radius: 15px;
}

.formContainer:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.formContainer #inputCreateItem {
  height: 40px;
  margin-bottom: 10px;
  border: 2px solid rgb(22, 22, 22);
  border-radius: 5px;
  padding-top: 1px;
  padding-left: 10px;
  color: rgb(25, 25, 25);
  font-size: 20px;
}

.formContainer #inputDescription{
  height: 190px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-top: 1px;
  padding-left: 10px;
  color: grey;
  font-size: 20px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: #50194d;
  border-radius: 5px;
  color: white;
}

.formContainer button:hover {
  background-color: #9f599b;
}

.formContainer span {
  color: black;
}

/* NAVBAR */

.navbar {
  width: 100%;
  height: 70px;
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  background-color: #50194d;
  display: flex;
  margin-bottom: 12px;
  align-items: center;
  font-family:  Futura, Avenir, Helvetica, sans-serif;
}

.navbar:hover {
  box-shadow: 0 5px 12px 0 rgba(36, 35, 35, 0.2);
}


.navbar .links {
  flex: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar .loggedInContainer {
  flex: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.navbar button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  color: #50194d;
  margin-right: 10px;
  background-color: white;
}

.navbar button:hover {
  cursor: pointer;
  color: white;
  background-color: #50194d ;
}

.navbar h1 {
  text-align: right;
  margin-right: 15px;
  color: white;
  font-weight: lighter;
}

/* For the landing page hide it */
#landing .navbar {
  display: none;
  visibility: hidden;
}

.itemPage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.leftSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
}

#indi {
  height: 50px;
  width: 100px;
  padding-right: 400px;
}

.itemNB {
  padding-top: 5px;
  font-family: Futura, Avenir, Helvetica, sans-serif;
  font-size: 40px;
  justify-content: center;
  place-items: center;
}

.purchaseButonito{
  background-color: #50194d ;
  /* background-color: #c7f3cc ; */
  width: 209px;
  color: white;
}
.purchaseButonito:hover {
  cursor: pointer;
  background-color: #50194d;
}

.rightSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
  display: flex;
  flex-direction: column;
}

.rightSide .placeBid {
  flex: 20%;
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.placeBid input,
button {
  width: 220px;
  height: 50px;
  border-radius: 8px;
  border: none;
}

.placeBid form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  padding: 20px;
}

.placeBid span {
  color: rgb(109, 32, 32);
  font-family: 'Futura';
  font-size: 19px;
}

.placeBid button {
  background-color: #50194d ;
  width: 209px;
  color: white;
}

.placeBid button:hover {
  cursor: pointer;
  background-color: #50194d;
}

.placeBid input {
  font-size: 22px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: 2px solid #50194d ;
}

.rightSide .listOfComments {
  flex: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listOfComments .comment {
  width: 70%;
  height: auto;
  padding: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 20px;
}

#individual {
  height: 500px;
  width: 600px;
}

#individual .title,
#individual .footer {
  font-family: Futura, Avenir, Helvetica, sans-serif;
  font-size: 25px;
  display: flex; 
  color: #50194d;
}

#individual .footerSmall {
  font-family: Futura, Avenir, Helvetica, sans-serif;
  font-size: 17px;
  display: flex; 
  color: #115f74;
}

#individual .body {
  font-family: Futura, Avenir, Helvetica, sans-serif;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  place-content: center;
  vertical-align: middle;
}

.loginContainer {

  display: flex;
  align-items: center;
  flex-direction: column; 
   width: 100%;
  height: 100vh;
  padding-top: 100px;
}

.loginContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}

.loginContainer button {
  background-color: #50194d;
  color: white;
}

.loginContainer input {
  border: 2px solid #50194d;
}

.gradient-custom {
  
  /* fallback value for old browsers */
  background: #43e97b;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(224, 159, 224, 0.5), rgba(56, 249, 215, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(180deg, #df9df1 0%, #fe92b8 100%);
}

.gradient-reverse {

  /* fallback for old browsers */
  background: #50194d;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(56, 249, 215, 0.5)), rgba(67, 233, 123, 0.5);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(90deg, #92FE9D 0%, #00C9FF 100%);
}

.linky {
  text-decoration: underline;
  color: #1d8cab;
}

.linky:hover {
  color: black;
}

.shake{
  padding-top: 5px;
  font-family: Futura, Avenir, Helvetica, sans-serif;
  font-size: 20px;
  color: brown;
  justify-content: center;
  place-items: center;
  
}
@keyframes shake {
  0%  { transform: translate(2px, 1px)   rotate(0deg);  }
  10% { transform: translate(-1px, -2px) rotate(-2deg); }
  20% { transform: translate(-3px, 0px)  rotate(3deg);  }
  30% { transform: translate(0px, 2px)   rotate(0deg);  }
  40% { transform: translate(1px, -1px)  rotate(1deg);  }
  50% { transform: translate(-1px, 2px)  rotate(-1deg); }
  60% { transform: translate(-3px, 1px)  rotate(0deg);  }
  70% { transform: translate(2px, 1px)   rotate(-2deg); }
  80% { transform: translate(-1px, -1px) rotate(4deg);  }
  90% { transform: translate(2px, 2px)   rotate(0deg);  }
  100%{ transform: translate(1px, -2px)  rotate(-1deg); } 
}
.shake:hover {
  text-decoration: underline;
  cursor: pointer;
  color: black;
}

.buttonito {
    margin-top: 15px;
    font-family: Futura;
    height: 40px;
    border: none;
    background-color: #50194d;
    border-radius: 5px;
    color: white;
}

.buttonito:hover {
  cursor: pointer;
  background-color: #9f599b; 
}

.buttonitoSelect {
  margin-top: 15px;
  font-family: Futura;
  font-size: 18px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  border-color: #50194d;
  color: #50194d;
}

.buttonitoSelect:hover {
cursor: pointer;
background-color: #9f599b; 
color: white;
}

.buttonitoInfo {
  margin-top: 15px;
  font-family: Futura;
  height: 40px;
  border: none;
  background-color: #9f599b;
  border-radius: 5px;
  color: white;
}

.buttonitoInfo:hover {
cursor: pointer;
background-color: #9f599b;
}

.buttonitoReverse {
  font-family: #9f599b;
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: #f7cdab;
  border-radius: 5px;
  color: white;
}

.buttonitoReverse:hover {
  cursor: pointer;
  background-color: #e6934f;
}

.headerito {
  justify-content: center;
  font-size: 25px;
  font-family: Futura, Avenir, Helvetica, sans-serif;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column; 
}

.approval_photo {
  height: 460px;
  width: 600px;
}

.purchase_photo {
  height: 460px;
  width: 460px;
}

.feedback_photo {
  height: 500px;
  width: 500px;
}

.profileContainer {
  justify-content: center;
  font-size: 17px;
  font-family: Futura, Avenir, Helvetica, sans-serif;
}

.mail{
  flex-direction: row;
  justify-content: left;
  align-items: left;
}

.leaflet-container{
  height: 500px;
  width: 600px;
}

.fullPage {
  width: 1200px;
}

/* Pagination styles */

.paginationButtons {
  width: 100%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationButtons a {
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
  border: 1px #50194d;
  color: #50194d;
  cursor: pointer;
}

.paginationButtons a:hover {
  color: white;
  background-color: #50194d;
}

.paginationActive a {
  color: white;
  background-color: #50194d;
}

.paginationDisabled a {
  color: #9f599b;
  border: 1px solid #9f599b;
}

.paginationDisabled a:hover {
  color: white;
  border: 1px solid white;
  background-color: #9f599b;
}